---
import { ClientRouter } from "astro:transitions";

import "@fontsource-variable/raleway";
import "../styles/main.css";

interface Props {
    title?: string;
    description?: string;
}
const { title = "Mhorrfilms", description = "" } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="nl">
    <head>
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />

        <!-- Theming -->
        <meta name="theme-color" content="#13332b" />
        <!-- FIXME: <link rel="icon" href="/favicon.ico" sizes="32x32" /> -->
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link
            rel="manifest"
            href='/manifest.webmanifest'
        />
        <link rel="sitemap" href='/sitemap-index.xml' /> -->

        <!-- Canonical URL -->
        <link rel="canonical" href={canonicalURL} />

        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="profile" />
        <meta property="og:profile:first_name" content="Ruben" />
        <meta property="og:profile:last_name" content="van Briemen" />
        <meta property="og:profile:gender" content="male" />

        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->
        <meta property="og:locale" content="nl-NL" />

        <ClientRouter />
    </head>
    <body>
        <slot />
    </body>
</html>
